/*estilos generales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  && svg {

    height: 6rem;
    width: 6rem;

  }
}

body #light {
  background-color: #fafafa;
  transition: 0.5s ease-in-out;
}
body #dark {
  background-color: #0d1214;
  color: black;
  transition: 0.5s ease-in-out;
}

/*FIN DE ESTILOS GENERALES */

/*ESTILOS DE LA TABLA DE FAVORITOS */

.favTable{
  height: 90vh;
  width: 90vw;
  overflow: auto;
  margin: 70px auto 0;
}
table {
  border-collapse: collapse;
  width: 100%;
  color: #000207;  
}

th,
td {
  border: 1px solid #485c64;
  padding: 8px;
  text-align: center;
  && a {
    color: #485c64;
  }
}
td button svg {
  width: 20px;
  color: rgb(126, 33, 33);
}
#dark td button svg {
  color: #fafafa;
  color: rgb(172, 146, 62);
}
.emptyFavs{
  color: #485c64;
  display: grid;
  place-items: center;
  height: 90vh;
  && button{
    padding: 12px 24px;
    border: 1px solid #485c64;
    &&:hover{
      transition: 0.5s;
      border: none;
      background-color: #485c64;
      color: #fafafa;
    }
  }
 
}
#dark .emptyFavs{
  color: #d4d4d4;
  && button{
    color: #f3f3f3;
    border: 1px solid #f3f3f3;
    padding: 12px 24px;
    &&:hover{
      transition: 0.5s;
      border: none;
      background-color: #fafafa;
      color: #485c64;
    }
 
  }
}

#dark table {
  color: #fafafa;
  && th,
  td {
    border: 1px solid #fafafa;
    && a {
      color: #d4d4d4;
    }
  }
}

/* FIN DE ESTILOS DE LA TABLA DE FAVORITOS */



/* ESTILOS DEL COMPONENTE DETAIL */

.detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  && img{
    width: 30%;
    height: 50%;
  }
  && .detailBtnGroup{
    margin: 20px;
    && button{
      margin: 0 20px;
      border: 1px solid #485c64;
      color: #485c64;
      padding: 12px 24px;
      border-radius: 6px;
        &&:hover{
          background-color: #485c64;
          color: #fafafa;
          transition: 0.5s;
        }
    }
  }&& h1{
    margin: 20px;
  }
  && ul li{
    margin: 15px 0;
  }
}
#dark .detail{
  color: #fafafa;
  && .detailBtnGroup button{
    border: 1px solid #fafafa;
    color: #fafafa;
     &&:hover{
      background-color: #fafafa;
      color: #001848;
     }
  }
}

/* FIN DE ESTILOS DEL COMPONENTE DETAIL */

/* ESTILOS COMPONENTE CONTACTO */

.contact{
  height: 90vh;
  display: grid;
  place-items: center;
  && h1{
    color: #485c64;
    margin: 30px auto;
  }
}
#dark .contact h1{
  color: #fafafa;
}
.form {
  display: flex;
  flex-direction: column;
  width: 70%;
  color: #485c64;
  align-items: center;
  gap: 40px;
  border: 1px solid #485c64;
  padding: 20px;
  background-color: #f3f3f3;
  && label {
    font-size: 1rem;
  }

  && #mensaje {
    background-color: transparent;
    width: 80%;
    &&:focus {
      outline: none;
    }
    padding: 10px;
  }

  && #nombre,
  #email {
    background-color: transparent;
    padding: 10px;
    border: none;
    width: 50%;
    border-bottom: 1px solid #001848;
    &&:focus {
      outline: none;
    }
  } && #divboton{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

  && button {
    border: none;
    background-color: #485c64;
    color: #fafafa;
    padding: 15px 24px;
    border-radius: 6px;
    width: 170px;
    margin-bottom: 15px;
    &&:hover {
      background-color: #fafafa;
      color: #001848;
      border: 1px solid #001848;
      transition: 0.5s;
    }
  }
}
#dark .form {
  background-color: #657c85;
  color: #fafafa;
  border: 1px solid #fafafa;
  transition: 0.5s;
  && input {
    border-color: #fafafa;
    color: #fafafa;
  }
  && button {
    border: 1px solid #fafafa;
    background-color: #2f423d;
  }
  
  && #mensaje {
    background-color: #4d6168;
    color: #fafafa;
  }::placeholder{
    color: white;
  }
}



/* FIN DE ESTILOS DEL COMPONENTE CONTACTO */


/* ESTILOS COMPONENTE NAVBAR */

.navBar {
  gap: 10px;
  height: 10vh;
  display: flex;
  align-items: center;
  && ul {
    display: flex;
    justify-content: center;
    gap: 250px;
    flex-grow: 1;
    padding-left: 20px;
    font-size: 20px;
  } li:hover{
    text-decoration: underline;
    opacity: 50%;
    transform: scale(1.2);
    transition: 0.2s ease-in-out;
  }&& button svg{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
  }
}

#light .navBar {
  background-color: #68ddbd;
  transition: 0.5s ease-in-out;
  && ul li {
    color: #485c64
    ;
  }&& button svg {
    color: white;
    background-color:#485c64;
    
  }
}
#dark .navBar {
  background-color: #2f423d;
  transition: 0.5s ease-in-out;
  && ul li {
    color: #fafafa;
  }
  && button svg {
    color: black;
    background-color: blanchedalmond;
  }
}

/* FIN DE ESTILOS DEL COMPONENTE NAVBAR */



/* ESTILOS DEL COMPONENTE CARD */

.card {
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.5);
  && a img {
    margin-top: 15px;
    border-radius: 50%;
  }
  && button {
    padding: 12px 24px;
    margin: 10px 0px 10px 0px;
    &&:hover {
      border: 0.5px solid black;
      transition: 0.5s;
      border: none;
      background-color: black;
      color: white;
    }
  }
  && img:hover {
    transition: 0.2s;
    transform: scale(1.1);
    border: 1px solid black;
  } && h3{
    width: 90%;
  } && p span{  
    font-weight: bold;
  }
}


#light .card {
  background-color: #dfdfdf;
  color: #001848;
  transition: 0.5s ease-in-out;

  && p a {
    color: #001848;

    font-style: italic;
  }
  && button {
    background-color: #fafafa;
    color: #001848;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    transition: 0.7s;
    &&:hover {
      background-color: #485c64;
      color: #fafafa;
      border: 0.5px solid rgba(0, 0, 0, 0.5);
    }
  } #more:hover{
    text-decoration: underline;

  }
}
#dark .card {
  background-color: #485c64;
  color: #fafafa;
  border-color: #fafafa;
  transition: 0.5s ease-in-out;

  && p a {
    color: #fafafa;
    font-style: italic;
  }
  && button {
    background-color: #2f423d;
    color: #fafafa;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    transition: 0.7s;
    &&:hover {
      background-color: #fafafa;
      color: #001848;
      border: 0.5px solid rgba(0, 0, 0, 0.5);
    }
  }
  #more:hover{
    text-decoration: underline;
  }
}

/* FIN DE ESTILOS DEL COMPONENTE CARD */



/* ESTILOS DEL CONTENEDOR DE CARDS - HOME */

.cardsContainer {
  display: flex;
  width: 90%;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
  && .hero {
    display: grid;
    place-items: center;
    width: 100%;
    height: 200px;
    font-size: 2em;
  }
}
#dark .cardsContainer .hero {
  color: #fafafa;
  transition: 1.1s;
}
#light .cardsContainer .hero {
  color: #485c64;
  transition: 1.1s;
}


/* FIN DE ESTILOS DEL COMPONENTE HOME / CONTENEDOR DE CARDS */


/* ESTILOS DEL FOOTER */

.footer{
  height: 100px;
  display: grid;
  margin-top: 100px;
  place-items: center;
  background-color: #d4d4d4;
  && p{
    text-align: center;
    padding: 10px;
  }
  
}
#dark .footer{
  background-color: #485c64;
  color: #fafafa;
}

/* FIN DE ESTILOS DEL FOOTER */

/* medias queries */

@media (max-width:500px){
  .form{
    width: 90%;
  }
  .hero h1{
    font-size: 1.5rem;
  }
  .footer p{
    font-size: 0.7rem;
  }
}
